/*********************************************************** custom defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
  font-family: "Karla", "Impact", "Haettenschweiler", "Arial Narrow Bold",
    sans-serif;
}

/*********************************************************** header */
.header-container {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: #ffffff;
  padding: 2rem 1rem;
}

.face-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fas.fa-grin-beam-sweat {
  font-size: 2.5rem;
  margin-right: 0.25rem;
}

.main-title {
  font-size: 1.8rem;
  margin-left: 0.25rem;
}

.react-course-container {
  text-align: center;
}

/************************ (media queries) header */

@media (min-width: 1000px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .fas.fa-grin-beam-sweat {
    font-size: 3rem;
  }

  .main-title {
    font-size: 2.5rem;
  }

  .sub-title {
    font-size: 1.8rem;
  }
}

/*********************************************************** meme form */
.meme-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meme-input1,
.meme-input2 {
  border: 0.2rem solid #d5d4d8;
  width: 19rem;
  height: 3rem;
  border-radius: 0.3rem;
  padding-left: 0.4rem;
  font-size: 1.2rem;
  outline: none;
  transition: 0.5s;
}

.meme-input1:focus,
.meme-input2:focus {
  border-width: 0.4rem;
}

.meme-input1:hover {
  border-color: #672280;
}

.meme-input2:hover {
  border-color: #a626d3;
}

.meme-input1 {
  margin: 1rem 1rem 2rem;
}

.meme-input2 {
  margin: 0 1rem 2rem;
}

.meme-btn {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 1rem;
  width: 19rem;
  border-radius: 0.3rem;
  border: solid 0.1rem #a626d3;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meme-btn:hover {
  background: linear-gradient(90deg, #a626d3 1.18%, #672280 100%);
  font-size: 1.1rem;
  transition: 0.5s;
}

.fas.fa-image {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.fas.fa-image :hover {
  font-size: 1.1rem;
  transition: 0.5s;
}
