/*********************************************************** custom defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
  font-family: "Karla", Impact, "Haettenschweiler", "Arial Narrow Bold",
    sans-serif;
}

/*********************************************************** header */
.header-container {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: #ffffff;
  padding: 2rem 1rem;
}

.troll-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.header-img {
  width: 3rem;
  height: 2.5rem;
}

.title {
  font-size: 1.8rem;
}

.react-course-container {
  text-align: center;
}

/************************ (media queries) header */

@media (min-width: 1000px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-img {
    width: 4rem;
    height: 3rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .react-course-container p {
    font-size: 1.8rem;
  }
}
