/*********************************************************** custom defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
  font-family: "Karla", Impact, "Haettenschweiler", "Arial Narrow Bold",
    sans-serif;
}

/*********************************************************** header */
.header-container {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: #ffffff;
  padding: 2rem 1rem;
}

.face-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fas.fa-grin-beam-sweat {
  font-size: 2.5rem;
  margin-right: 0.5rem;
}

.main-title {
  font-size: 1.8rem;
  margin-left: 0.5rem;
}

.react-course-container {
  text-align: center;
}

/************************ (media queries) header */

@media (min-width: 1000px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .fas.fa-grin-beam-sweat {
    font-size: 3rem;
  }

  .main-title {
    font-size: 2.5rem;
  }

  .sub-title {
    font-size: 1.8rem;
  }
}
